
.logo  img{
    width: 20%;
    height: 20%;
    float: left;
    margin-top: 10px;
    margin-left:10px ;
}
.logo  i{
    float: left;
    
}
.menu-l1{
    margin: 0px 10px 0 10px;
}
.menu-l1 a{
    color: rgb(194, 194, 194);
    
}
.cl1{
    list-style: none;
    float: left;
    margin:25px 0 0 0;
    font-size: 7px;
    font-weight: bold;
    letter-spacing: .025em;
    margin-right: 7px;
}
.cl1:hover{
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.2);
}
.cl1:hover .tt-l1{
    color: white;
}
.tt-l1{
    display: inline-block;
    padding: 3px;
    
}

.menu-l2{
    border-top: 4px solid #D13639;
    position: absolute;
    background-color: white;
    text-align: left;
    border-radius: 2px;
    font-size: 7px;
    background-color: #222;
    opacity: 0.9;
    letter-spacing: .025em;
    font-weight: 600;
    display: none;
}
.cl2{
    width: 80px;
    margin: 5px 40px;
    display: block;
}   
.menu-l2 a{
    color: #bbb;
    width: 100%;
    padding: 2px 2px 1px 2px ;
    display: flex;
}
.cl2:hover a{
    color: white;
}



.cl1-log{
    margin: 10px 10px 10px 0;
    float: right;
    background-color: #D13639;
    border-radius: 24px;
}
.cl1-log-bt{
    color: black;
    padding: 0 5px ;
    float: right;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 5px;
}


.sc {
    background-image: url(https://www.riotgames.com/darkroom/2000/68ccf8b69d1d664b4bb87e5b83cbe77e:88951d0111c7d9491fda64b72f7e576c/lol-ka22-bg-web-3830x1644-jcao-v001.jpg) no-repeat center center/cover;
    position: relative;
    zoom: 50%;
}

.msk{
    background-color: rgba(0,0,0,0.4);
    height: 100%;
}
.ct{
    display: block;
    margin: auto;
}
.ct img{
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
}
.sc-tt{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.2;
}
.sc .ct a{
    display: block;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .025em;
    margin-top: 40px;
    background-color: #D13639;
    border: 0;
    padding: 20px;
    border-radius: 24px;
    cursor: pointer;
    margin-left: 250px;
    color: white;
}




.news{
    background-image: linear-gradient(to right, #200e0e, #000000);
    height: 1200px;
    z-index: 1;
    zoom: 70%;
}
.news-dc{
    display: block;
}
.news-tt{
    float: left;
    color: white;
    font-size: 24px; 
    margin: 70px 50px 80px 120px;
}
.news .link-news{
    position: absolute;
    margin: 10px 0 0 225px;
}
.news #link-news{
    color: #bbb;
    padding: 6px 12px 5px 12px;
    background-color: #222;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: .025em;
}
.news-cnt{
    display: block;
    margin: 0 20px;
}
.news-cnt-1{
    float: left;
    width: 100%;
    border-radius: 10px;
}
.news-cnt-1-img{
    border-radius: 7px;
}
.news-cnt-left{
    position: relative;
}
.news-cnt-1-dc,.news-cnt-1-dc2{
    position: absolute;
    margin: 130px 0 40px 30px;
    font-size: 26px;
    font-weight: 600;
    max-width: 90%;
    line-height: 1.2;
    color: #999;
}
.news-cnt-1-dc2{
    margin: 250px 0 40px 30px;
    font-size: 16px;
    color: #999;
}
.news-cnt-2{
    margin-top: 10px;
    float: left;
    width: 100%;
    border-radius: 10px;
}
.right-1{
    background-color: rgb(26, 23, 23);
    height: 150px;
    border-radius: 10px;
}

.news-cnt-right-1 img{
    float: right;
    width: 40%;
    border-radius: 10px;
    height: 150px;
}
.news-cnt-2-dc,.news-cnt-2-dc2{
    position: absolute;
    margin: 30px 0 40px 20px;
    font-size: 17px;
    font-weight: 600;
    max-width: 55%;
    line-height: 1.2;
    color: #999;
    letter-spacing: .025em;
}
.news-cnt-2-dc2{
    margin: 100px 0 40px 20px;
    font-size: 12px;
    color: #999;
}
#right-1{
    margin-top: 15px;
}


.games{
    background-color: #1F1F1F;
    overflow: auto;
    height: 1580px;
    z-index: 1;
}
.games-list-1{
    margin: 0 15px; 
    display: block;
}
.games .news-tt{
    margin-left: 90px;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 50px;
}
.gl1-g1{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.gl1-g2{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.g1-left{
    position: relative;
}
.g1-left-dc,.g1-left-img{
    position: absolute;
    margin: 100px 0 40px 20px;
    font-size: 10px;
    font-weight: 600;
    max-width: 25%;
    line-height: 1.2;
    text-align: center;
    color: #999;
}
.g1-left-img{
    margin: 20px 0 40px 20px;
    width: auto;
    height: auto;
}
#gl1-g2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#g1-left-img-2{
    margin: 20px 0 40px 20px;
    width: auto;
    height: auto;
}
.games-list-2{
    margin: 20px 15px 0 15px;
}
.gl2-g1{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.games-list-2 .g1-left-img{
    margin-top: 50px;
}
#gl2-g2{
    float: left;
    width: 100%;
    margin: 0 15px 10px 0;
}
.games-list-3{
    margin: 0 15px;
}



.rk{
    height: 870px;
}        
.rk-cnt{
    float: left;
    width: 100%;
    position: absolute;
}
.rk-tt{
    font-size: 30px;
    text-align: center;
    margin: 80px 10px 20px 10px;
    line-height: 1.2;
}
.rk img{
    float: left;
    margin-top: 500px;
    width: 100%;
    height: 400px;
}
.rk-dc{
    text-align: center;
    margin: 0 20px 50px 20px;
    max-width: 430px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bolder;
    color: #555;
}
.rk-btl1{
    float: left;
    margin-left: 40px;
}
.bt-ic-a{
    float: left;
    border: 0;
    border-radius: 10px;
    text-align: center;
    width: 140px;
    height: 100px;
    padding: 10px 50px 20px 50px;
    background-color: #DFDEDE;
    color: #000000;
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
}
.bt-ic-a span{
    color: #656462;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    display: block;
}
.rk-btl2{
    float: right;
    margin-right: 40px;
    margin-left: 30px;
}
.rk .bt-ic-a2{
    float: left;
    font-size: 16px;
    text-align: center;
    margin: 30px 87px 0 87px;
    font-weight: 700;
    line-height: 1.2;
    padding: 20px 30px;
    background-color: #D1363A;
    color: white;
    border: 0;
    border-radius: 24px;
}
.rk .bt-ic-a2:hover{
    color: rgb(202, 200, 200);  
    background-color: #d14045;          
    box-shadow: 0 10px 45px -10px rgba(226, 24, 24, 0.45)
    , 0 0 20px -10px rgba(230, 24, 24, 0.35)
    , 0 10px 30px -10px rgba(224, 23, 23, 0.45);
}
.rk .bt-ic-a:hover{
    background-color: rgb(233, 233, 233);
}


footer{
    height: 750px;
    
}
.footer-logo-riot{
    float: left;
    width: 90px;
    height: 50px;
    margin: 40px 30px 0px 150px;
}
.footer-cnt{
    float: left;
    text-align: center;
    margin-left: 40px;
}
.footer-cnt-tt{
    display: inline-block;
    font-size: 12px;
    color: #656462;
    margin: 35px 20px 0 0;
    font-weight: 600;
    letter-spacing: .0,25em;
}
.footer-logo-link{
    color: #656462;
}
.footer-logo-ic{
    float: left;
    margin:30px 0 30px 50px;
}
.footer-cnt-2{
    text-align: center;
    color: #656462;
    font-size: 10px;
    margin-left:  150px;
}